* {
  margin: 0px;
  padding: 0px;
}
nav {
  width: 100%;
  height: 10%;
  height: 100px;
  background-color: black;
}
body {
  border: none;
  width: 1300px;
  height: 620px;
  margin: auto;
  padding-top: 10px;
}
section {
  background-image: url("imagen/Erin_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  height: 801px;
}

ul {
  list-style-type: none;
  border: none;
}
li {
  border: solid pink;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}
.textoContenido,.textoSinopsis, td, th, .formulario {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}
.textoSinopsis {
  /*overflow-y: scroll;*/
  height: 400px;
  width: 100%;
}
.textoPortada {
  position: absolute;
  text-shadow: 0.3px;
  font-family: "Tangerine", cursive;
  font-size: 60px;
  font-weight: bold;
  text-justify: auto;
  top: 300px;
  right: 50px;
}
table,
td {
  border: solid black;
  border-collapse: collapse;
}
table {
  width: 100%;
}
.home {
  border: none;
  float: left;
  width: 20%;
  padding: 15px;
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-around;
}
.menu {
  position: relative;
  float: right;
  border: none;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

img {
  max-height: 100%;
  max-width: 100%;
  image-resolution: from-image;
}

footer {
  position: absolute;
  margin-bottom: 0px;
  border: solid black;
  background-color: rgb(218, 27, 27);
  color: black;
  width: 750px; /*  si el ancho es 1300 ? xq se ajusta a otro nro?*/
  height: 50px;
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  align-content: center;
  padding-left: 40%;
}
button {
  display: none;
}
#iconos {
  height: 50px;
  width: 50px;
}
.formulario {
  border: solid black;
  width: 500px;
  height: 380px;
  position: absolute;
}
.imagen_formulario {
  background-image: url("imagen/misa_de_medianoche_mike_flanagan_4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 793px;
  height: 380px;
  float: right;
}
#footer_formulario {
  margin-top: 380px;
}
.contenedorGaleria {
  position: relative;
  display: flexbox;
  flex-direction: row;
  margin: auto;
  width: 1300px;
  height: 500px;
  padding: 10px;
  margin: 10px;
}
.contenedorImagenGaleria {
  position: relative;
  float: left;
  width: 200px;
  height: 150px;
  margin: 10px;
}
.contenedorImagenGaleria:hover {
  opacity: 70%;
}
iframe {
  width: 95%;
  padding: 10px;
}
#contenedor_imagen_sinopsis {
  width: 1280px;
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
}
#footer_sinopsis {
  margin-top: 2200px;
}

/*******************************************RESPONSIVE****************************/

@media screen and (max-width: 576px) {
  body {
    max-width: 576px;
    height: 800px;
    overflow: auto;
  }
  section {
    height: 500px;
  }
  button {
    display: block;
    color: white;
    width: 100px;
    height: 100px;
  }
  nav {
    display: flex;
    flex-direction: column;
    height: 10%;
  }
  .home {
    font-size: 17px;
    height: 20px;
    margin-left: 50%;
    display: flex;
    position: absolute;
    top: 0px;
  }
  .textoPortada {
    font-size: 30px;
    left: 55%;
    top: 60%;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
  }
  .textoContenido {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: black;
    width: 520px;
  }
  footer {
    max-width: 380px;
  }
  #input_formulario {
    width: 400px;
  }
  #footer_formulario{
    margin-top: 500px;
  }
  .formulario {
    left: 0%;
    max-width: 576px;
    display: flex;
    flex-wrap: wrap;
    border: solid black;
  }
  .imagen_formulario {
    display: none;
  }
  .textoSinopsis {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 520px;
  }

  #contenedor_tabla_reparto {
    overflow: auto;
  }
  #tabla_reparto_personaje {
    width: 200px; 
  }
  #celda_foto_temporada, #celda_foto_reparto{
    width: 200px;
    display: flex;
    box-sizing: border-box;
  }
  #tabla_reparto_actor {
    width: 200px;
  }
  .contenedorGaleria {
    height: 1250px;
    max-width: 530px;
    flex-direction: column;
    border:none;
  }
  .menu {
    display: none;
  }
  .visible {
    width: 20%;
    display: block ;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    height: 20px;
    background-color: rgb(124, 49, 49);
    opacity: 0.6;
    color: black;
    border: none;
    padding: 15px;
  }
  .invisible {
    display: none;
  }
  #footer_sinopsis {
    margin-top: 2500px;
  }
  #contenedor_imagen_sinopsis{
    display: flex;
    box-sizing: border-box;
    width: 550px;
    height: 350px;

  }
  #footer_galeria{
    margin-top:400px;
  }
}
